.container {
    display: grid;
    grid-template-columns: repeat(16, 45px);
    grid-template-rows: repeat(16, 45px);
    border: 1px solid white;
    justify-content: center;
    align-content: center;
}

.box {
    grid-row: auto;
    grid-column: auto ;
    border: 1px solid grey;
    width: 45px;
    height: 45px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}


