.boxes {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    border: 1px solid white;
    height: 50em;
    justify-content: center;
    align-content: center;
}

.box {
    grid-row: auto;
    grid-column: auto ;
    border: 1px solid grey;
    width: 16px;
    height: 16px;
}

.reset {
    width: fit-content; 
    height: fit-content; 
    position: absolute;  
    top: 50%; 
    left: 50%; 
    margin-top: -160px; 
    margin-left: -130px; 
}

