.boxes {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    border: 1px solid white;
    justify-content: center;
    align-content: center;
}

.box {
    grid-row: auto;
    grid-column: auto ;
    border: 1px solid grey;
    width: 16px;
    height: 16px;
}

.container {
    display: flex;
    height: fit-content;
    justify-content: center;
}

